<app-table [headers]="headers" >
  <ng-container >
  @for (transaction of transactions(); track $index) {
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.status.name}}</td>
      <td>{{ transaction.createdAt  | date: 'YYYY/MM/dd' }}</td>
      <td>
        @if(transaction.status.name === 'Pending') {
          <app-principal-button (action)="approveTransaction(transaction.id)" [title]="'Aprobar'" />
        }@else {
          <p>
            {{ transaction.status.name }}
          </p>
        }
      </td>
    </tr>
  }
  </ng-container>
<app-table />
