<div class="content">
  <app-modal [isOpen]="showModal()" (onClose)="closeModal()">
    <h2>Crear usuario</h2>
    <form (submit)="createUser($event)">
      <label for="">
        Nombres completos
        <input type="text" name="name" />
      </label>
      <label for="">
        Correo
        <input type="email" name="email" />
      </label>
      <app-principal-button className="secondary" [title]="'Crear'" />
    </form>
  </app-modal>

    <app-principal-button [title]="'Crear Nuevo usuario'" (action)="openModal()"/>
    <app-list-user [users]="users()"/>

</div>
